* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /*padding-right: 0px;
  padding-left: 0px;
*/
  background-color: #c2bcb4;
  width: 100%;
}
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

#container {
  display: flex;
  position: static;
  height: 30px;
  margin-bottom: 50px;
  background-color: #c2bcb4;
  width: 100%;
}
#header {
  float: left;
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  background-color: #613c4b;
  margin: 0;
}

#unordered-list {
  display: flex;
}

#main-nav ul {
  list-style: none;

  /*padding: 10px 15px;*/
  margin: 0;
  width: 100vw;
}
#main-nav ul li a {
  display: block;
  float: left;
  text-align: center;
  width: 100%;
  height: 100%;
  font-family: "nunito", sans-serif;
  font-weight: 600;
  color: rgb(228, 227, 227);
  font-size: 1em;
  text-decoration: none;
  padding: 15px 10px;
}
#main-nav ul li a:hover {
  background-color: #775358;
  color: rgb(228, 227, 227);
  max-height: 88%;
}

h1,
h2 {
  font-family: "Nunito", sans-serif;
  font-size: 50px;
  font-weight: 900;
  color: rgb(0, 0, 0);
  margin: 10px, 15px;
}

p {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-left: 15px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding: 10px 20%;
  width: 100%;
}
a {
  color: rgb(0, 0, 0);
  font-weight: 300;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  background-color: rgba(228, 227, 277, 0.5);
}
#hello,
#portfolio {
  color: black;
}

#aboutMe,
#contact {
  background-color: #613c4b;

  color: rgb(228, 227, 227);
}

.spacer {
  aspect-ratio: 900/150;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.beigePurp {
  background-image: url("svg/beigePurp.svg");
}
.purpBeige {
  background-image: url("svg/purpBeige.svg");
}

footer {
  background-color: #613c4b;
  display: flex;
  justify-content: center;
  font-family: "nunito", sans-serif;
  font-weight: 200;
  font-size: 15px;
}

#white {
  color: rgb(228, 227, 227);
}
